{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="row align-items-center gx-5">
    <div class="col-md-6 order-md-2">
        <h2>Faça o Login para continuar</h2>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu e-mail">
                <label for="email" class="form-label">Digite o seu e-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite a sua senha">
                <label for="password" class="form-label">Digite a sua senha</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Entrar">
        </form>
    </div>
    <div class="col-md-6 order-md-1">
        <div class="col-12">
            <img src="{% static 'img/sign_in.svg' %}" alt="entrar no sistema" class="img-fluid">
        </div>
        <div class="col-12" id="link-container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="{% url 'index' %}">Index</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Login</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'register' %}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}