{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="row gx-5">
    <div class="col-md-6">
        <h2>Realiza seu cadastro</h2>
        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Digite o seu Nome">
                <label for="name" class="form-label">Digite o seu Nome</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Digite o seu Sobrenome">
                <label for="lastname" class="form-label">Digite o seu Sobrenome</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu Email">
                <label for="email" class="form-label">Digite o seu Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite a sua senha">
                <label for="email" class="form-label">Digite a sua senha</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirme a sua senha">
                <label for="email" class="form-label">Confirme a sua senha</label>
            </div>
            <div class="mb-3">
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" value="" id="agree-form" name="agree-form">
                    <label for="agree-form" class="form-check-label">Você aceita os <a href="#">termos de serviço</a>?</label>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" value="" id="newsletter" name="newsletter" checked>
                    <label for="newsletter" class="form-check-label">Deseja receber as nossas Newsletters?</label>
                </div>
                <input type="submit" class="btn btn-primary" value="Cadastar">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class=" row align-items-center">
            <div class="col-12">
                <img src="{% static 'img/hello.svg' %}" alt="Tela de registro" class="img-fluid">
            </div>
            <div class="col-12" id="link-container">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="{% url 'index' %}">Index</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}